.content-basic .desc {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  color: #444c52;
}

.bg-blue .desc,
.bg-blue .desc > p {
  color: #fff;
}

@media only screen and (max-width: 720px) {
  .bg-blue .desc,
  .bg-blue .desc > p {
    text-align: justify;
  }
}
